includes:
    - ../../vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: 5
  bootstrapFiles:
    - bootstrap.php
  paths:
    - ../../includes/
    - ../../includes/Admin/OAuth/
    - ../../includes/Admin/Options/
  scanFiles:
    - ../../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  ignoreErrors:
    - '#Unreachable statement - code above always terminates.#'
